# ðŸ§¹ Task 1 â€” Data Cleaning & Preprocessing (Iris Dataset)

This notebook is part of my **Codveda Data Analytics Internship (Level 1 - Basic)**.  
The goal of this task is to **inspect, clean, and preprocess** the Iris dataset in preparation for further analysis.  

## âœ… Objectives
- Load and inspect the dataset  
- Identify and handle missing values and duplicates  
- Standardize column names and data formats  
- Encode categorical variables for ML readiness  
- Export the cleaned dataset for use in subsequent tasks  

---

## Step 1 â€” Setup & Imports
### Install Dependencies

In [1]:
%pip install -r ../requirements.txt

Requirement already satisfied: pandas in c:\users\legion\appdata\local\programs\python\python310\lib\site-packages (from -r ../requirements.txt (line 1)) (2.1.3)Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: numpy in c:\users\legion\appdata\local\programs\python\python310\lib\site-packages (from -r ../requirements.txt (line 2)) (1.26.2)
Requirement already satisfied: matplotlib in c:\users\legion\appdata\local\programs\python\python310\lib\site-packages (from -r ../requirements.txt (line 3)) (3.10.0)
Requirement already satisfied: seaborn in c:\users\legion\appdata\local\programs\python\python310\lib\site-packages (from -r ../requirements.txt (line 4)) (0.13.2)
Requirement already satisfied: scikit-learn in c:\users\legion\appdata\local\programs\python\python310\lib\site-packages (from -r ../requirements.txt (line 5)) (1.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\legion\appdata\local\programs\python\python310\lib\site-packages (from pandas->-r ../requirements.txt (line 1)) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\legion\appdata\local\programs\python\python310\lib\site-packages (from pandas->-r ../requirements.txt (line 1)) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\legion\appdata\local\programs\python\python310\lib\site-packages (from pandas->-r ../requirements.txt (line 1)) (2023.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\legion\appdata\local\programs\python\python310\lib\site-packages (from matplotlib->-r ../requirements.txt (line 3)) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\legion\appdata\local\programs\python\python310\lib\site-packages (from matplotlib->-r ../requirements.txt (line 3)) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\legion\appdata\local\programs\python\python310\lib\site-packages (from matplotlib->-r ../requirements.txt (line 3)) (4.55.7)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\legion\appdata\local\programs\python\python310\lib\site-packages (from matplotlib->-r ../requirements.txt (line 3)) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\legion\appdata\local\programs\python\python310\lib\site-packages (from matplotlib->-r ../requirements.txt (line 3)) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\legion\appdata\local\programs\python\python310\lib\site-packages (from matplotlib->-r ../requirements.txt (line 3)) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\legion\appdata\local\programs\python\python310\lib\site-packages (from matplotlib->-r ../requirements.txt (line 3)) (3.1.1)
Requirement already satisfied: scipy>=1.3.2 in c:\users\legion\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn->-r ../requirements.txt (line 5)) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in c:\users\legion\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn->-r ../requirements.txt (line 5)) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\legion\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn->-r ../requirements.txt (line 5)) (3.2.0)
Requirement already satisfied: six>=1.5 in c:\users\legion\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas->-r ../requirements.txt (line 1)) (1.16.0)

### Import Python libraries needed for data analysis.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

print("Libraries imported successfully")
print("pandas:", pd.__version__)
print("numpy:", np.__version__)

Libraries imported successfully
pandas: 2.1.3
numpy: 1.26.2

## Step 2 â€” Load & Inspect Dataset

In [3]:
# Load the dataset from the data folder
df = pd.read_csv("../Raw-Dataset/1) iris.csv")

# Show the first 5 rows of the dataset
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

## Step 3 â€” Dataset Overview
### 3.1 â€” Dataset Shape

In [4]:
# Number of rows and columns
df.shape

(150, 5)

### 3.2 â€” Column Info

In [5]:
# Column names, data types, and non-null counts
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

### 3.3 â€” Summary Statistics

In [6]:
# Basic statistics for numeric columns
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

### 3.4 â€” Missing Values

In [7]:
# Count of missing values per column
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

### 3.5 â€” Duplicate Rows

In [8]:
# Count of duplicate rows
df.duplicated().sum()

3

## Step 4 â€” Data Cleaning
### 4.1 â€” Remove Duplicate Rows

In [9]:
# Remove duplicate rows
df = df.drop_duplicates()

# Verify that duplicates are gone
df.duplicated().sum()

0

### 4.2 â€” Check Categorical Consistency

In [10]:
df['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

## Step 5 â€” Save the Cleaned Dataset

In [11]:
# Save the cleaned dataset for use in later tasks
output_path = "../Task 1 - Data Cleaning And Preprocessing/Cleaned-Dataset/iris_cleaned.csv"
df.to_csv(output_path, index=False)

print(f"Cleaned dataset saved to: {output_path}")

Cleaned dataset saved to: ../Task 1 - Data Cleaning And Preprocessing/Cleaned-Dataset/iris_cleaned.csv